.footer{
    margin-top: 2rem;
    h4{
        font-family: $Montserrat;
        font-weight: 900;
        font-size: .7rem;
        color: $grey;

        @include movil0{
            text-align: center;
            margin-top: 1rem;
        }

        @include movil1200{
            margin-top: 0;
            text-align: left;
        }
    }

    ul{
        list-style: none;
        padding: 0;
        li{
            a{
                text-decoration: none;
                display: inline-block;
            }
        }

        &.listFooter{
            li{

                @include movil0{
                    text-align: center;
                }

                @include movil1200{
                    text-align: left;
                }

                a{
                    color: $grey;
                    font-size: .8rem;

                }
            }
        }

        &.socilaFooter{

            @include movil0{
                column-count: 2;
            }

            @include movil768{
                column-count: 2;
            }

            @include movil991{
                column-count: 4;
            }

            li{

                @include movil0{
                    text-align: center;
                }

                @include movil1200{
                    text-align: left;
                }

                a{
                    color: $grey;
                    font-family: $Montserrat;
                    font-weight: 300;
                    position: relative;
                    left: 0;
                    transition: all .3s ease;

                    &.contactoFooter{
                        position: relative;

                        @include movil0{
                            left: -.65rem;
                        }

                        @include movil991{
                            left: 0;
                        }
                    }

                    i{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $grey;
                        color: white;
                        position: relative;
                        top: .6rem;
                        transition: all .3s ease;

                        &::before{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }

                    &:hover{
                        left: 3%;
                        transition: all .3s ease;
                        color: $black;

                        i{
                            background-color: $brown;
                        }
                    }
                }
            }
        }


    }
}