header {

    .marcas,
    .marcasMovil {
        margin-top: 1rem;

        img {
            max-width: 100px;
            width: 100%;

            &.right {
                @include movil991 {
                    float: right;
                }
            }
        }
    }

    .logoDesk {

        @include movil0 {
            display: none;
        }

        @include movil991 {
            display: block;
            max-width: 250px;
            width: 100%;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }

    .navbar {
        position: relative;
        justify-content: center;
        padding: 1rem;
        transition: all .3s ease;

        @include movil0 {
            box-shadow: 0 0 10px $grey;
        }

        @include movil991 {
            box-shadow: none;
        }

        .navbar-toggler {
            i {
                font-size: 1.5rem;
                color: $brown;
                font-weight: 100;
            }

            &:focus {
                box-shadow: 0 0 2px 0rem $brown;
            }
        }


        .navbar-brand {

            @include movil0 {
                display: block;
            }

            @include movil991 {
                display: none;
            }

            .logo {

                @include movil0 {
                    max-width: 90px;
                    width: 100%;
                }

                @include movil991 {
                    max-width: 350px;
                    width: 100%;
                }


            }
        }

        .navbar-collapse {
            @include movil991 {
                justify-content: space-between;
                flex-wrap: wrap;


            }

            .navbar-nav {

                @include movil0 {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

                @include movil991 {
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    margin-top: 1rem;
                    display: flex;
                    
                }

                



                .nav-item {
                    @include movil991 {
                        border-right: 1px solid $brown;
                        width: 100%;
                        max-width: 120px;

                        &:last-child {
                            border-right: none;
                            text-align: right;


                        }

                        &:first-child {
                            text-align: left;
                        }

                    }

                    .nav-link {
                        color: $brown;
                        font-family: $Montserrat;
                        display: block;
                        font-family: $Cormorant;
                        font-weight: 500;



                        @include movil0 {
                            text-align: left;
                            font-size: 1rem;
                            letter-spacing: .05rem;
                        }

                        @include movil991 {
                            text-align: center;
                            border-bottom: 0;
                            letter-spacing: .05rem;
                            
                        }

                        &.borderOut {
                            border-bottom: 0;
                        }

                        img{
                            max-width: 24px;
                            width: 100%;
                            margin: 0 auto;
                            position: relative;
                            transition: all .3s ease;
                            bottom: 0;

                            &:hover{
                                bottom: .2rem;
                            }
                        }


                        &:hover {
                            transition: all .3s ease;
                            color: $grey;
                        }
                    }
                }

                &:nth-child(1){
                    justify-content: flex-start;

                    @include movil0{
                        width: 100%;
                    }

                    @include movil991{
                        width: 40%;
                    }

                }

                &:nth-child(2){
                    justify-content: flex-end;
                    @include movil0{
                        width: 100%;
                    }

                    @include movil991{
                        width: 60%;

                    }


                    .nav-item{
                        &:nth-child(4){
                            border-right: none;
                        }
                    }
                }
            }


        }
    }

    .marcas {
        @include movil0 {
            display: none;
        }

        @include movil991 {
            display: block;
        }
    }

    .marcasMovil {
        @include movil0 {
            display: block;

        }

        .right {
            @include movil0 {
                float: right;

            }
        }

        @include movil991 {
            display: none;
        }

    }
}

.fixSidebar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: $white;
    box-shadow: 0 0 10px $grey !important;
    transition: all .3s ease;
}

.dropdown-toggle::after {
    position: relative;
    top: 3px;
}

//megamenu

.navbar {
    .megamenu {
        padding: 1rem;
        background-color: rgba($white, .95);
        border-radius: 0;
        border: 0;
    }


}

.col-megamenu {
    .title {
        color: $brown;
        font-family: $Montserrat;
        display: block;
        font-family: $Cormorant;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;
    }

    ul {
        li {
            a {
                color: $brown;
                font-family: $Montserrat;
                display: block;
                font-family: $Cormorant;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }


}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
        max-width: 1300px;
        margin: 0 auto;
    }

}


@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

/* ============ mobile view .end// ============ */