header {
    .marcas,.marcasMovil {
        margin-top: 1rem;

        img {
            max-width: 130px;
            width: 100%;

            &.right {
                @include movil768 {
                    float: right;
                }
            }
        }
    }

    .logoDesk {

        @include movil0 {
            display: none;
        }

        @include movil768 {
            display: block;
            max-width: 250px;
            width: 100%;
            margin: 0 auto;
            margin-top: 2rem;
        }
    }

    .navbar {
        justify-content: center;
        padding: 1rem;

        @include movil0{
            box-shadow: 0 0 10px $grey;
        }

        @include movil768{
            box-shadow: none;
        }

        .navbar-toggler{
            i{
                font-size: 1.5rem;
                color: $brown;
            }

            &:focus{
                box-shadow: 0 0 2px 0rem $brown;
            }
        }


        .navbar-brand {

            @include movil0{
                display: block;
            }

            @include movil768 {
                display: none;
            }

            .logo {

                @include movil0{
                    max-width: 150px;
                    width: 100%;
                }

                @include movil768 {
                    max-width: 350px;
                    width: 100%;
                }

                
            }
        }

        .navbar-collapse {
            @include movil768 {
                justify-content: center;

            }

            .navbar-nav {

                @include movil0{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

                @include movil768 {
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    margin-top: 1rem;
                    max-width: 1200px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .nav-item {
                    @include movil768 {
                        border-right: 1px solid $brown;
                        width: 100%;

                        &:last-child {
                            border-right: none;
                            text-align: right;


                        }

                        &:first-child {
                            text-align: left;
                        }

                    }

                    .nav-link {
                        color: $brown;
                        font-family: $Montserrat;
                        text-transform: uppercase;
                        display: block;



                        @include movil0{
                            text-align: left;
                            border-bottom: 1px solid $brown;
                        }

                        @include movil768{
                            text-align: center;
                            border-bottom: 0;
                        }

                        &.borderOut{
                            border-bottom: 0;
                        }


                        &:hover {
                            transition: all .3s ease;
                            color: $grey;
                        }
                    }
                }
            }


        }
    }

    .marcas{
        @include movil0{
            display: none;
        }

        @include movil768{
            display: block;
        }
    }

    .marcasMovil{
        @include movil0{
            display: block;

        }

        .right{
            @include movil0{
                float: right;
    
            }
        }

        @include movil768{
            display: none;
        }

    }
}